.shapka
{
    height: 80px;
    width: 100%;
    background-color: #2b2b2b;
    margin: 0 0 0 0px;
    padding: 0px;
    display: block;
}
.shapka01
{
    background-color: aqua;
    height: 55%;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    transform:translateY(40%);
    display: block;
}
body
{
    margin: 0px;
    padding: 0px;
}
.shapka02
{
    float: left;
    width: 10%;
    height: 100%;
    background-color: #874d01;
    font-family: monospace;
    color:azure;
    font-size:100%;
    vertical-align: middle;
    text-align: center; 
}
.shapka03
{
    float: left;
    width: 40%;
    height: 170%;
    background-color:#d37803;
    transform: translateY(-20%);
    border-radius: 5px;
    font-family: monospace;
    font-size: 37px;
    vertical-align: middle;
    display: block;
    color: aliceblue;
    text-align: center;
    border: 5px #874d01;
}
.shapka1
{
    float: left;
    display: block;
    width: 100%;
    background-color: #2b2b2b;
    height: 30px;
}
.shapka111
{
    float: left;
    width: 20%;
    border-radius: 0 15px 0 0;
    background-color: #d37803;
    height: 100%;
    display: block;
    color: aliceblue;
    font-size: 30px;
    font-family: monospace;
}
.shapka112
{
    float: left;
    width: 50%;
    background-color: #2b2b2b;
    height: 100%;
    display: block;
}
.shapka113
{
    float: left;
    width: 25%;
    background-color: #2b2b2b;
    padding-top: 0px;
    height: 100%;
    display: block;
}
.icon
{
    background-color: white;
    width:10%;
    height: 50%;
    transform: translateX(100%);
    float: left;
    margin: 5px;
}
input
{
    display: block;
    margin: 1%;
    transform: translateX(4%);
    width: 100%;
     background-color: #464646; 
    color: white;
    height: 40%;
	size: 40;
    border: none;
}
.ll
{
   display: none;
    
}
.void
{width: 25%;
    display: block;
    float: left;
    height: 100%;
}
.menu
{
    color:coral;
        margin:0px;
        text-decoration: none;
    padding: 0px;
}
.menu1
{
    text-decoration: none;
    margin:0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
li
{
    float: left;
}
.menu a
{
    background: #874d01;
    color:#fff;
    padding: 10px;
    display: block;
    transition: 0.4s all;
    width: 200px;
}
.side
{
    width: 25%;
    margin: 10px;
}
.menu a:hover
{
    background: #d37803;
    
}
.menu_list
{
    position: relative;
    font-family: monospace;
}
.menu_drop
{
    position: absolute;
    width: 150%;
    transform: translate(0px,-1000%);
    opacity: 0.1;
    
    transition: 1s opacity;
}
.menu_list:hover .menu_drop
{
    opacity: 1;
    top: 1;
    transform: translate(0,0);
    
}